/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880FF;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #173030;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #173030;
  --ion-color-medium-rgb: 36, 78, 78;
  --ion-color-medium-contrast: #ff7300;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ff7300;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #173030;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
//color0
.default {
  --ion-color-primary: #173030;
  --ion-color-primary-rgb: 36, 78, 78;
  --ion-color-primary-contrast: #ff7300;
  --ion-color-primary-contrast-rgb: 244, 245, 248;
  --ion-color-primary-shade: #808289;
  --ion-color-primary-tint: #9d9fa6;

  --bar-background-active: #ff7300;
  --bar-background: #173030;
}

.default+#lblTime2 {
  background-color: #ff7300;
}

.default+#lblDistance {
  background-color: #ff7300;
}

.default+.input {
  background-color: #ff7300;
  color: #173030;
}

.default+.background_image {
  background: url('../../public/assets/img/background.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.default+ion-col {
  border: solid 1px #ff7300;
  color: #ff7300;
  background-color: #173030;
}

//color1
.roseRaisin {
  --ion-color-primary: #e52165;
  --ion-color-primary-rgb: 229, 33, 101;
  --ion-color-primary-contrast: #0d1137;
  --ion-color-primary-contrast-rgb: 13, 17, 55;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #0d1137;
  --bar-background: #e52165;
}

.roseRaisin+#lblTime2 {
  background-color: #0d1137;
}

.roseRaisin+#lblDistance {
  background-color: #0d1137;
}

.roseRaisin+.input {
  background-color: #0d1137;
  color: #e52165;
}

.roseRaisin+.background_image {
  background: url('../../public/assets/img/bgrose.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.roseRaisin+ion-col {
  border: solid 1px #0d1137;
  color: #0d1137;
  background-color: #e52165;
}

//color2
.jadeViolet {
  --ion-color-primary: #077b8a;
  --ion-color-primary-rgb: 7, 123, 138;
  --ion-color-primary-contrast: #5c3c92;
  --ion-color-primary-contrast-rgb: 92, 60, 146;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #5c3c92;
  --bar-background: #077b8a;
}

.jadeViolet+#lblTime2 {
  background-color: #5c3c92;
}

.jadeViolet+#lblDistance {
  background-color: #5c3c92;
}

.jadeViolet+.input {
  background-color: #5c3c92;
  color: #077b8a;
}

.jadeViolet+.background_image {
  background: url('../../public/assets/img/bgjade.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.jadeViolet+ion-col {
  border: solid 1px #5c3c92;
  color: #5c3c92;
  background-color: #077b8a;
}

//color3
.yellowMagenta {
  --ion-color-primary: #e2d810;
  --ion-color-primary-rgb: 26, 216, 16;
  --ion-color-primary-contrast: #d9138a;
  --ion-color-primary-contrast-rgb: 217, 19, 138;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #d9138a;
  --bar-background: #e2d810;
}

.yellowMagenta+#lblTime2 {
  background-color: #d9138a;
}

.yellowMagenta+#lblDistance {
  background-color: #d9138a;
}

.yellowMagenta+.input {
  background-color: #d9138a;
  color: #e2d810;
}

.yellowMagenta+.background_image {
  background: url('../../public/assets/img/e2d810.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.roseRaisin+ion-col {
  border: solid 1px #d9138a;
  color: #d9138a;
  background-color: #e2d810;
}

//color4
.turquoiseBrick {
  --ion-color-primary: #039fbe;
  --ion-color-primary-rgb: 3, 159, 190;
  --ion-color-primary-contrast: #b20238;
  --ion-color-primary-contrast-rgb: 178, 2, 56;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #b20238;
  --bar-background: #039fbe;
}

.turquoiseBrick+#lblTime2 {
  background-color: #b20238;
}

.turquoiseBrick+#lblDistance {
  background-color: #b20238;
}

.turquoiseBrick+.input {
  background-color: #b20238;
  color: #039fbe;
}

.turquoiseBrick+.background_image {
  background: url('../../public/assets/img/039fbe.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.turquoiseBrick+ion-col {
  border: solid 1px #b20238;
  color: #b20238;
  background-color: #039fbe;
}

//color5
.roseMarron {
  --ion-color-primary: #322514;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #e75874;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #e75874;
  --bar-background: #322514;
}

.roseMarron+#lblTime2 {
  background-color: #e75874;
}

.roseMarron+#lblDistance {
  background-color: #e75874;
}

.roseMarron+.input {
  background-color: #e75874;
  color: #322514;
}

.roseMarron+.background_image {
  background: url('../../public/assets/img/image.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.roseMarron+ion-col {
  border: solid 1px #e75874;
  color: #e75874;
  background-color: #322514;
}

//color6
.indigomarron {
  --ion-color-primary: #408ec6;
  --ion-color-primary-rgb: 64, 142, 198;
  --ion-color-primary-contrast: #7a2048;
  --ion-color-primary-contrast-rgb: 122, 32, 72;
  --ion-color-primary-shade: #ad0f56;
  --ion-color-primary-tint: #cb2972;

  --bar-background-active: #408ec6;
  --bar-background: #7a2048;

}

.indigomarron+#lblTime2 {
  background-color: #7a2048;
}

.indigomarron+#lblDistance {
  background-color: #7a2048;
}

.indigomarron+.input {
  background-color: #7a2048;
  color: #408ec6;
}

.indigomarron+ion-col {
  border: solid 1px #7a2048;
  color: #7a2048;
  background-color: #408ec6;
}

.indigomarron+.background_image {
  background: url('../../public/assets/img/bleu.png') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

//color7
.lotus {
  --ion-color-primary: #ffa781;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #5b0e2d;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #5b0e2d;
  --bar-background: #ffa781;
}

.lotus+#lblTime2 {
  background-color: #5b0e2d;
}

.lotus+#lblDistance {
  background-color: #5b0e2d;
}

.lotus+.input {
  background-color: #5b0e2d;
  color: #ffa781;
}

.lotus+.background_image {
  background: url('../../public/assets/img/lotus.jpeg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.lotus+ion-col {
  border: solid 1px #5b0e2d;
  color: #5b0e2d;
  background-color: #ffa781;
}

//color8
.bordeauxRose {
  --ion-color-primary: #5c1e61;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #c6a25e;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #c6a25e;
  --bar-background: #5c1e61;
}

.bordeauxRose+#lblTime2 {
  background-color: #c6a25e;
}

.bordeauxRose+#lblDistance {
  background-color: #c6a25e;
}

.bordeauxRose+.input {
  background-color: #c6a25e;
  color: #5c1e61;
}

.bordeauxRose+.background_image {
  background: url('../../public/assets/img/bordeauxRose.jpg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.bordeauxRose+ion-col {
  border: solid 1px #c6a25e;
  color: #c6a25e;
  background-color: #5c1e61;
}

//color9
.brazilSubzero {
  --ion-color-primary: #00ff5e;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #ffd500;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #ffd500;
  --bar-background: #00ff5e;
}

.brazilSubzero+#lblTime2 {
  background-color: #ffd500;
}

.brazilSubzero+#lblDistance {
  background-color: #ffd500;
}

.brazilSubzero+.input {
  background-color: #ffd500;
  color: #00ff5e;
}

.brazilSubzero+.background_image {
  background: url('../../public/assets/img/brazilSubzero.jpg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.brazilSubzero+ion-col {
  border: solid 1px #ffd500;
  color: #ffd500;
  background-color: #00ff5e;
}

//color10
.rougeNoir {
  --ion-color-primary: #ff1f1f;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #3e3e3e;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #775858;
  --bar-background: #ff1f1f;
}

.rougeNoir+#lblTime2 {
  background-color: #775858;
}

.rougeNoir+#lblDistance {
  background-color: #775858;
}

.rougeNoir+.input {
  background-color: #775858;
  color: #ff1f1f;
}

.rougeNoir+.background_image {
  background: url('../../public/assets/img/Red.jpeg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.rougeNoir+ion-col {
  border: solid 1px #775858;
  color: #775858;
  background-color: #ff1f1f;
}

//black lives matter
.black {
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #757575;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #757575;
  --bar-background: #000000;
}

.black+#lblTime2 {
  background-color: #757575;
}

.black+#lblDistance {
  background-color: #757575;
}

.black+.input {
  background-color: #757575;
  color: #000000;
}

.black+.background_image {
  background: url('../../public/assets/img/black.jpg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.black+ion-col {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #000000;
}

//collor12
.blueSun {
  --ion-color-primary: #00d9ff;
  --ion-color-primary-rgb: 50, 37, 20;
  --ion-color-primary-contrast: #f25125;
  --ion-color-primary-contrast-rgb: 231, 88, 116;
  --ion-color-primary-shade: #212c31;
  --ion-color-primary-tint: #3c474c;

  --bar-background-active: #f25125;
  --bar-background: #00d9ff;
}

.blueSun+#lblTime2 {
  background-color: #f25125;
}

.blueSun+#lblDistance {
  background-color: #f25125;
}

.blueSun+.input {
  background-color: #f25125;
  color: #00d9ff;
}

.blueSun+.background_image {
  background: url('../../public/assets/img/blueSun.jpg') no-repeat center/cover fixed;
  width: 100%;
  height: 100%;
}

.blueSun+ion-col {
  border: solid 1px #f25125;
  color: #f25125;
  background-color: #00d9ff;
}

